<h2 align ="center">Drexell & Honeybees</h2>
<h3 align ="center">We Feed The Need</h3>


<div class="row">
    <div class="col-md-5">
        A Brewton woman’s hospitality and generosity  is taking her on another giant leap of faith, but when you ask Lisa Thomas-McMillan about it, she has no worries.
        “I know that God is blessing this because this is what He wants me to do.”
        McMillan has been feeding people since 1996. She’s taken a cross-country walk to raise awareness for the hungry, and currently spends her week whipping up home-cooked meals for students on the JDCC Brewton campus. 
        As if those weren’t enough to earn her wings, McMillan and her husband, Freddie, are embarking on a new endeavor to help all of Brewton.
        “We want to open a community restaurant with no prices on the menu. You can’t tell if people have money by the way they look,” said McMillan. “There’s no way. You can’t tell if people are hungry by the way they look. 
        So I want a place where people can come in and enjoy each other and talk and enjoy the food. I want a place where people can be themselves and not have to worry about different things.”
        McMillan and her husband are one step closer to opening a no price restaurant on Lee Street near downtown Brewton. They’ll open it under the name of Drexel and Honeybee’s. The couple is not talking about opening a soup kitchen. 
        This will be a full service restaurant with custom orders. If you can pay, you leave your anonymous donations at the door. If you can’t, no one will be the wiser.
        When asked about people taking advantage of her hospitality, Lisa sweetly explained that it’s not up to her. A man’s intentions are between him and God.
        “If I worried about that, I really wouldn’t be able to get anything done.”
        “It’s been about 12 years since I asked God about funding a place where people could come and not worry about paying,” said McMillan.
        Her work at JDCC is close, but doesn’t quite meet the full burden Lisa said the Lord has given her. 
        “It’s close to it, but it’s only three days a week, and a lot of people don’t come over because they think it’s only for the college, but it’s not. 
        The meals are $3 and if they can’t pay, they don’t pay.”
        The McMillans almost have the building paid off. In fact, thanks to Freddie’s retirement, the last payment will be made this month. Now, the work begins to renovate the space to bring it up to code and install a commercial kitchen.
        The estimated cost for equipment and materials to finish out the building is $55,000. That includes all labor being donated. Local engineers have already given their time and talents to draw up the plans for the new space.
        “Donations would be great. This could really be a community event. We could use help from skilled workers once we start renovations,” said Lisa.
        “I’m the type of person that believes if God called you to do something, you can have 15 priorities and money would be number 15. 
        The first one is that God called you to do this. If God called you to do this, God’s going to take care of you because He’s called you. So money is way down on the list,” said Lisa.
        Phase one is getting the restaurant open, while phase two is to provide an after-school feeding program for local children. 
        Even though she can’t tell you how it will happen, Lisa’s faith is strong that she will see this dream come true.
        “That’s my dream. Hopefully we’ll open up next year. I’m real excited about it and I think it’s going to be a great thing for Brewton.”
        “It’s just a wonderful thing how God maps out your life for you. There’s no better life than a life of service. By you serving others, that’s the most powerful gift in the world.”
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-page" 
             data-href="https://www.facebook.com/foodyescashno/" 
             data-tabs="timeline" 
             data-small-header="true" 
             data-adapt-container-width="true" 
             data-width="500"
             data-height="800"
             data-hide-cover="false" 
             data-show-facepile="false" 
             align="right">
            <blockquote cite="https://www.facebook.com/foodyescashno/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/foodyescashno/">Drexell &amp; Honeybees Community Restaurant</a>
            </blockquote>
        </div>
    </div>
</div>
