<h2 align ="center">Drexell & Honeybees</h2>
<h3 align ="center">We Feed The Need</h3>


<div>
    <div>
        <p style="font-size: 20px; font-weight:500; text-indent: 40px">
            Drexell & Honeybees is a community restaurant with no prices on the menu. We are a full service restaurant with custom orders. If you can pay, you leave your anonymous donations at the door. If you can’t, no one will be the wiser. You can’t tell if people are hungry by the way they look. Drexell & Honeybees is a place where people can come in, enjoy each other, talk and enjoy the food.
            <br />
        <p style="font-size: 20px; font-weight:500; text-indent: 40px">
            This is a place where people can be themselves and not have to worry about their background, or where they’re at in life. Lisa Thomas-McMillan and her husband, Freddie, have embarked on this new endeavor to help all of Brewton. Phase one was getting the restaurant open(it opened in late March 2018), while phase two is to provide an after-school feeding program for local children. Even though she can’t tell you how it will happen, Lisa’s faith is strong that she will see this dream come true.
        </p>
    </div>
</div>
<br />
<div class="row">   
    <div class="col-md-6">
        <div align="center">
            <img style="width:500px" src="~/Content/Images/IMG_9465.JPG" />
        </div>
        <br />
    </div>
    <div class="col-md-6">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-page"
             data-href="https://www.facebook.com/foodyescashno/"
             data-tabs="timeline"
             data-small-header="true"
             data-adapt-container-width="true"
             data-width="500"
             data-height="750"
             data-hide-cover="false"
             data-show-facepile="false"
             align="center">
            <blockquote cite="https://www.facebook.com/foodyescashno/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/foodyescashno/">Drexell &amp; Honeybees Community Restaurant</a>
            </blockquote>
        </div>
    </div>
</div>
