@{
    ViewBag.Title = "Contact";
}
<h2 align="center"><b>Contact Us</b></h2>

<h2 align="center">"We Feed The Need"</h2>
<h3 align="center">Drexel and HoneyBee's Community Resturant</h3>
<br />

<div class="row">
    <div class="col-md-6">
        <img width="400" height="300" frameborder="0" style=" border:0" allowfullscreen src="~/Content/Images/IMG_9913.JPG" />
        <br />

    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.214077548055!2d-87.07333688505895!3d31.103781481509376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8890458ff4d3cb63%3A0x559ebe7dd4f47156!2s109+Lee+St%2C+Brewton%2C+AL+36426!5e0!3m2!1sen!2sus!4v1523298830386" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3> Hours of Operation</h3>
        <p style="font-size:20px">Monday: 11:00 a.m to 1:00 p.m</p>
        <p style="font-size:20px" >Tuesday: 11:00 a.m to 1:00 p.m</p>
        <p style="font-size:20px" >Wednesday: 11:00 a.m to 1:00 p.m</p>
        <p style="font-size:20px"  >Thursday: 11:00 a.m to 1:00 p.m</p>
        <p style="font-size:20px" >Friday: 11:00 a.m to 1:00 p.m</p>
        <p style="font-size:20px"> Saturday: Closed</p>
        <p style="font-size:20px"> Monday: Closed</p>

    </div>
    <div class="col-md-6">
        <h3>Contact Information</h3>
        <p style="font-size:20px" > 109 Lee Street</p>
        <p style="font-size:20px" >Brewton ,Alabama 36426</p> 
        <p style="font-size:20px" >Email: FoodBankCarlisa@yahoo.com</p>
       <p style="font-size:20px" >Phone: (251)-727-2411</p>
    </div>
</div>

<address>
    



</address>
