
@{
	ViewBag.Title = "Donate";
}

<h2>Donate</h2>


<div  style="text-align: center;">
	<meta http-equiv="refresh" content="0; URL='http://www.paypal.me/DraxellHoneybees'" />
	<p>Redirecting you to a different webpage...</p>
</div>
