
@{
	ViewBag.Title = "Donate";
}

<div style="text-align: center">
    <h2><b>Donate to Drexell</b></h2>
    <br />
    <h2 align="center">"You Feed The Need"</h2>
    <h3 align="center">Drexell & Honeybee's Community Restaurant</h3>
</div>

<div class="row" style="padding: 3em;">
	<div class="col-md-6" style="text-align: center;">
		
		<div style="border-radius: 10px 14px; background-image:url(../../Content/Images/d&hfl.JPG); background-repeat:no-repeat; min-height:11em; min-width: 80%; background-size:cover;"></div>
	</div>

	<div class="col-md-6" style="text-align: center;">
		
		<a href='https://www.paypal.com/fundraiser/charity/146427' target="_blank" > <img src="https://fwab.org/wp-content/uploads/Paypal-logo-1.png" /></a>

	</div>
</div>
<hr style="border-color: #311e0d"/>
<div style="text-align:center">
    <h1 style="text-align:center">How your donation can help</h1>
    <br />
    <p style="font-size: 20px; font-weight:500; text-indent: 40px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida, tellus a lobortis consectetur, lectus ante tincidunt velit, at vulputate nulla dui et justo.
        Morbi tincidunt malesuada dolor in fermentum. Etiam diam metus, volutpat at nisl id, tempus scelerisque lectus. Phasellus pulvinar nisl sapien, nec condimentum nibh molestie eu. Duis ut turpis commodo, lobortis ligula eu, finibus est. Nulla aliquet facilisis orci eu aliquam. Praesent pharetra libero eget mi blandit, id commodo risus mattis. Mauris imperdiet, ipsum volutpat eleifend tristique, tellus tortor vestibulum justo, interdum luctus eros lectus eleifend erat.
        Integer ut mauris condimentum, feugiat erat a, fringilla orci. Aenean augue est, molestie ac est sodales, viverra auctor erat.
</div>