
@{
	ViewBag.Title = "Donate";
}

<h2>Donate</h2>


<div  style="text-align: center;">
	<meta http-equiv="refresh" content="0; URL='https://www.paypal.com/fundraiser/charity/146427'" />
	<p>Redirecting you to a different webpage...</p>
</div>
