
@{
	ViewBag.Title = "Donate";
}

<div style="text-align: center">
	<h2><b>Donate to Drexell</b></h2>
	<h2 align="center">"You Feed The Need"</h2>
	<h3 align="center">Drexell & Honeybee's Community Restaurant</h3>
</div>

<div class="row" style="padding: 3em;">
	<div class="col-md-6" style="text-align: center;">

		<div style="text-align:center">
			<img src="~/Content/Images/D&hfl.jpg" alt="thing" style="border-radius: 10px 14px; height:11em; width:80%; border-radius: 15px 10px" />
		</div>
		</div>

	<div class="col-md-6" style="text-align: center;">

		<a href='https://www.paypal.com/fundraiser/charity/146427' target="_blank"> <img src="https://fwab.org/wp-content/uploads/Paypal-logo-1.png" /></a>

	</div>
</div>
<hr style="border-color: #311e0d" />
<div>
	<h1 style="text-align:center">How your donation can help</h1>
	<br />
	<p style="font-size: 20px; font-weight:500; text-indent: 40px">
		One in every seven people experience food insecurities. Our vision is help cut hunger in Escambia County AL.
		We believe that everyone should have access to a Hot Meal everyday and we provide that at our restaurant.
		We also help people with any other services that we have the resources to help with. Including transportation, money for cancer patients,
		providing after school and weekend food for children at risk, providing hot meals for local college students, a hot meals on wheels program and much more.




		<b>By donating you are helping us to fight hunger and other major insecurities in our community.</b>

</div>






