@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color:#fad97a">
    <!--begin bg-carousel-->
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="homeslide1"></div>
            </div>
            <div class="item">
                <div class="homeslide2"></div>
            </div>
            <div class="item">
                <div class="homeslide3"></div>
            </div>
        </div><!-- .carousel-inner -->
    </div>
    <!--end bg-carousel-->
</div>


<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Ut placerat id turpis ac consectetur. Aenean id ligula ex. Proin lobortis ligula vel gravida suscipit. Maecenas ut nisi diam. Vestibulum dapibus erat ut ante maximus porta. Nam dolor tellus, mollis nec rutrum vel, aliquam eget urna.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero diam, fringilla commodo lectus sed, vestibulum tempor lacus. Quisque at mauris vitae felis porttitor ullamcorper. Nunc pellentesque, lacus ac rutrum fringilla, magna neque scelerisque ex, tincidunt pulvinar leo massa et tellus.</p>
        <p><a class="btn btn-default"  href="/Volunteers/Create">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate</h2>
        <p>Prhoncus scelerisque enim velit ac augue. Mauris quis nibh nisi. In imperdiet gravida lacus, ullamcorper feugiat metus egestas quis. Sed mi augue, blandit vitae nunc eget, cursus eleifend eros. Praesent ac leo risus. Sed quis semper enim. Integer sagittis dapibus felis, quis ultricies ligula semper ut. Suspendisse varius metus sit amet odio gravida venenatis. Aliquam a facilisis quam. Donec feugiat leo eget tellus posuere, ac faucibus enim tempor. In hac habitasse platea dictumst.</p>
        <p><a class="btn btn-default" href="/Home/Donate">Donate &raquo;</a></p>
    </div>
</div>