@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color:#fad97a">
    <!--begin bg-carousel-->
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="homeslide1"></div>
            </div>
            <div class="item">
                <div class="homeslide2"></div>
            </div>
            <div class="item">
                <div class="homeslide3"></div>
            </div>
        </div><!-- .carousel-inner -->
    </div>
    <!--end bg-carousel-->
</div>


<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p style="font-size: 20px; font-weight: 500; text-indent: 40px">
            Learn more about Drexell & Honeybees, why Lisa McMillan founded it and what it means to the Brewton community.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p style="font-size: 20px; font-weight: 500; text-indent: 40px">Make a difference in your community! Drexell & Honeybee's needs volunteers. Individuals and groups are welcome</p>
        <p><a class="btn btn-default"  href="/Volunteers/Create">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate</h2>
        <p style="font-size: 20px; font-weight: 500; text-indent: 40px">Making a monetary donation is one way that you can support the mission of Drexell & Honeybee's and make a difference in your community.</p>
        <p><a class="btn btn-default" href="/Home/Donate">Donate &raquo;</a></p>
    </div>
</div>